* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* box1 */
.nav_logo {
    height: 50px;
    width: 114px;

}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
    border-radius: 3px;
}

/* box2 */

.add_1 {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add_2 {
    font-size: 1rem;
    margin-left: 3px;
    font-weight: 700;
}

.location_icon {
    display: flex;
    align-items: center;

}

/* box3 */

.nav_search {
    display: flex;
    height: 40px;
    width: 620px;
    justify-content: space-evenly;
}

.search_select {
    background-color: #ffffffec;
    height: 40px;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    text-align: center;
}

.search_input {
    height: 40px;
    width: 100%;
    border: none;
    font-size: 1rem;

}

.search_icon {
    height: 40px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    background-color: #febd68;
    color: #0f1111;
}

.nav_search:hover {
    border: 2px solid #febd68;
    border-radius: 5px;
}

/* box4 */

.lang_select {
    height: 45;
    width: 45;
    display: flex;
    align-items: center;
}

.country_flag {
    background-image: url("images\ flag.png");
    background-size: cover;
    height: 16px;
    width: 21px;
    border-radius: 3px;

}

.lang_choose {
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background-color: #0f1111;
    color: white;


}

/* box5 */

span {
    font-size: 0.7rem;
}

.select_acc {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 */
.select_order {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box7 */

.nav_cart i {
    font-size: 30px;

}

.nav_cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}

.panel_ops a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
}

.panel_ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel_deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */

.hero_sec {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hero_msg {
    background-color: white;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 25px;
}

.hero_msg a {
    color: #007180;
    margin-left: 1px;
}

/* shoping section */

.shop_section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}

.box {
    height: 375px;
    width: 22%;
    /* border: 2px solid black; */
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
}

.box_img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box_content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box_content p {
    color: #007180;
}

/* footer */

.footpanel_1 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #222f3d;
    color: white;
}

.footpanel_2 {
    height: 300px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;

}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    columns: #dddddd;
}

ul p {
    font-weight: 700
}

ul a:hover {
    text-decoration: underline;
}

.footpanel_3 {
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footpanel_4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
}

.pages {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;

}

.copyright {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}